/* 
   * Optional: Makes the sample page fill the window. 
   */
/* body,
html {
  height: 85% !important;
  width: 99.5% !important;
  padding-left: 10px !important;
}
 */

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  width: 100%;
  height: 520px
}

#content {
  width: 100%;
  height: 600px;
}

#logo:hover {
  background-color: transparent !important;
}

.topbar {
  height: 3.5rem !important;
}

/* Styling for the nav bar */
.nav-link {
  text-decoration: none;
  /* remove underline */
  color: #333;
  /* set link color */
  display: inline-block;
  /* display as block element */
  padding: 10px 15px;
  /* add some padding */
  border-radius: 5px;
  /* add some rounded corners */
}

.nav-link:hover {
  background-color: #ddd;
  height: 4rem !important;
  /* change background color on hover */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li a {
  text-decoration: none;
  color: black;
}