/* 
   * Optional: Makes the sample page fill the window. 
   */
body,
html {
    height: 90%;
    width: 99.5%;
    padding-left: 1px;
}


/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    height: 100%;
    width: 100%;
}

/* Styling for the nav bar */
.nav-link {
    text-decoration: none; /* remove underline */
    color: #333; /* set link color */
    display: inline-block; /* display as block element */
    padding: 10px 15px; /* add some padding */
    border-radius: 5px; /* add some rounded corners */
    background-color: #f2f2f2; /* add a background color */
  }
  
  .nav-link:hover {
    background-color: #ddd; /* change background color on hover */
  }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav li a {
    text-decoration: none;
    color: black;
  }
  
  